<body class="bg-gray-100">

  <a href="https://wa.me/+595971210705"
    class="fixed bottom-4 right-4 bg-green-500 p-4 rounded-full shadow-lg hover:bg-green-600 transition duration-300 ease-in-out"
    target="_blank" aria-label="Chat on WhatsApp">
    <!-- SVG del icono de WhatsApp -->
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 258">
      <defs>
        <linearGradient id="logosWhatsappIcon0" x1="50%" x2="50%" y1="100%" y2="0%">
          <stop offset="0%" stop-color="#1faf38" />
          <stop offset="100%" stop-color="#60d669" />
        </linearGradient>
        <linearGradient id="logosWhatsappIcon1" x1="50%" x2="50%" y1="100%" y2="0%">
          <stop offset="0%" stop-color="#f9f9f9" />
          <stop offset="100%" stop-color="#fff" />
        </linearGradient>
      </defs>
      <path fill="url(#logosWhatsappIcon0)"
        d="M5.463 127.456c-.006 21.677 5.658 42.843 16.428 61.499L4.433 252.697l65.232-17.104a123 123 0 0 0 58.8 14.97h.054c67.815 0 123.018-55.183 123.047-123.01c.013-32.867-12.775-63.773-36.009-87.025c-23.23-23.25-54.125-36.061-87.043-36.076c-67.823 0-123.022 55.18-123.05 123.004" />
      <path fill="url(#logosWhatsappIcon1)"
        d="M1.07 127.416c-.007 22.457 5.86 44.38 17.014 63.704L0 257.147l67.571-17.717c18.618 10.151 39.58 15.503 60.91 15.511h.055c70.248 0 127.434-57.168 127.464-127.423c.012-34.048-13.236-66.065-37.3-90.15C194.633 13.286 162.633.014 128.536 0C58.276 0 1.099 57.16 1.071 127.416m40.24 60.376l-2.523-4.005c-10.606-16.864-16.204-36.352-16.196-56.363C22.614 69.029 70.138 21.52 128.576 21.52c28.3.012 54.896 11.044 74.9 31.06c20.003 20.018 31.01 46.628 31.003 74.93c-.026 58.395-47.551 105.91-105.943 105.91h-.042c-19.013-.01-37.66-5.116-53.922-14.765l-3.87-2.295l-40.098 10.513z" />
      <path fill="#fff"
        d="M96.678 74.148c-2.386-5.303-4.897-5.41-7.166-5.503c-1.858-.08-3.982-.074-6.104-.074c-2.124 0-5.575.799-8.492 3.984c-2.92 3.188-11.148 10.892-11.148 26.561s11.413 30.813 13.004 32.94c1.593 2.123 22.033 35.307 54.405 48.073c26.904 10.609 32.379 8.499 38.218 7.967c5.84-.53 18.844-7.702 21.497-15.139c2.655-7.436 2.655-13.81 1.859-15.142c-.796-1.327-2.92-2.124-6.105-3.716s-18.844-9.298-21.763-10.361c-2.92-1.062-5.043-1.592-7.167 1.597c-2.124 3.184-8.223 10.356-10.082 12.48c-1.857 2.129-3.716 2.394-6.9.801c-3.187-1.598-13.444-4.957-25.613-15.806c-9.468-8.442-15.86-18.867-17.718-22.056c-1.858-3.184-.199-4.91 1.398-6.497c1.431-1.427 3.186-3.719 4.78-5.578c1.588-1.86 2.118-3.187 3.18-5.311c1.063-2.126.531-3.986-.264-5.579c-.798-1.593-6.987-17.343-9.819-23.64" />
    </svg>
  </a>

  <!-- Header -->
  <header class="bg-white shadow">
    <nav class="container mx-auto flex justify-between items-center py-4">
      <!-- Logo -->
      <div class="text-3xl font-bold">Pinturas del<span class="text-blue-700 font-extrabold"> Sur</span></div>
      <!-- Right-side buttons -->
      <div class="flex items-center space-x-4">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded text-xl inline-flex items-center space-x-2 "><svg
            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 100 100">
            <path fill="currentColor"
              d="M50.001 0C33.65 0 20.25 13.36 20.25 29.666c0 6.318 2.018 12.19 5.433 17.016L46.37 82.445c2.897 3.785 4.823 3.066 7.232-.2l22.818-38.83c.46-.834.822-1.722 1.137-2.629a29.3 29.3 0 0 0 2.192-11.12C79.75 13.36 66.354 0 50.001 0m0 13.9c8.806 0 15.808 6.986 15.808 15.766S58.807 45.43 50.001 45.43c-8.805 0-15.81-6.982-15.81-15.763S41.196 13.901 50 13.901" />
            <path fill="currentColor"
              d="m68.913 48.908l-.048.126l.042-.115zM34.006 69.057C19.88 71.053 10 75.828 10 82.857C10 92.325 26.508 100 50 100s40-7.675 40-17.143c0-7.029-9.879-11.804-24.004-13.8l-1.957 3.332C74.685 73.866 82 76.97 82 80.572c0 5.05-14.327 9.143-32 9.143s-32-4.093-32-9.143c-.001-3.59 7.266-6.691 17.945-8.174z"
              color="currentColor" />
          </svg>Dónde estamos</button>
        <button
          class="bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded text-xl inline-flex items-center space-x-2"><svg
            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 258">
            <defs>
              <linearGradient id="logosWhatsappIcon0" x1="50%" x2="50%" y1="100%" y2="0%">
                <stop offset="0%" stop-color="#1faf38" />
                <stop offset="100%" stop-color="#60d669" />
              </linearGradient>
              <linearGradient id="logosWhatsappIcon1" x1="50%" x2="50%" y1="100%" y2="0%">
                <stop offset="0%" stop-color="#f9f9f9" />
                <stop offset="100%" stop-color="#fff" />
              </linearGradient>
            </defs>
            <path fill="url(#logosWhatsappIcon0)"
              d="M5.463 127.456c-.006 21.677 5.658 42.843 16.428 61.499L4.433 252.697l65.232-17.104a123 123 0 0 0 58.8 14.97h.054c67.815 0 123.018-55.183 123.047-123.01c.013-32.867-12.775-63.773-36.009-87.025c-23.23-23.25-54.125-36.061-87.043-36.076c-67.823 0-123.022 55.18-123.05 123.004" />
            <path fill="url(#logosWhatsappIcon1)"
              d="M1.07 127.416c-.007 22.457 5.86 44.38 17.014 63.704L0 257.147l67.571-17.717c18.618 10.151 39.58 15.503 60.91 15.511h.055c70.248 0 127.434-57.168 127.464-127.423c.012-34.048-13.236-66.065-37.3-90.15C194.633 13.286 162.633.014 128.536 0C58.276 0 1.099 57.16 1.071 127.416m40.24 60.376l-2.523-4.005c-10.606-16.864-16.204-36.352-16.196-56.363C22.614 69.029 70.138 21.52 128.576 21.52c28.3.012 54.896 11.044 74.9 31.06c20.003 20.018 31.01 46.628 31.003 74.93c-.026 58.395-47.551 105.91-105.943 105.91h-.042c-19.013-.01-37.66-5.116-53.922-14.765l-3.87-2.295l-40.098 10.513z" />
            <path fill="#fff"
              d="M96.678 74.148c-2.386-5.303-4.897-5.41-7.166-5.503c-1.858-.08-3.982-.074-6.104-.074c-2.124 0-5.575.799-8.492 3.984c-2.92 3.188-11.148 10.892-11.148 26.561s11.413 30.813 13.004 32.94c1.593 2.123 22.033 35.307 54.405 48.073c26.904 10.609 32.379 8.499 38.218 7.967c5.84-.53 18.844-7.702 21.497-15.139c2.655-7.436 2.655-13.81 1.859-15.142c-.796-1.327-2.92-2.124-6.105-3.716s-18.844-9.298-21.763-10.361c-2.92-1.062-5.043-1.592-7.167 1.597c-2.124 3.184-8.223 10.356-10.082 12.48c-1.857 2.129-3.716 2.394-6.9.801c-3.187-1.598-13.444-4.957-25.613-15.806c-9.468-8.442-15.86-18.867-17.718-22.056c-1.858-3.184-.199-4.91 1.398-6.497c1.431-1.427 3.186-3.719 4.78-5.578c1.588-1.86 2.118-3.187 3.18-5.311c1.063-2.126.531-3.986-.264-5.579c-.798-1.593-6.987-17.343-9.819-23.64" />
          </svg>Contáctanos</button>
         <!-- Carrito de compras -->
          <div class="relative">
            <button class="bg-gray-800 text-white px-4 py-2 rounded text-xl inline-flex items-center space-x-2 " (click)="toggleCartDropdown()" >
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="white" d="M7 22q-.825 0-1.412-.587T5 20t.588-1.412T7 18t1.413.588T9 20t-.587 1.413T7 22m10 0q-.825 0-1.412-.587T15 20t.588-1.412T17 18t1.413.588T19 20t-.587 1.413T17 22M6.15 6l2.4 5h7l2.75-5zM5.2 4h14.75q.575 0 .875.513t.025 1.037l-3.55 6.4q-.275.5-.737.775T15.55 13H8.1L7 15h12v2H7q-1.125 0-1.7-.987t-.05-1.963L6.6 11.6L3 4H1V2h3.25zm3.35 7h7z"/></svg>
              Carrito ({{ cart.length }})
            </button>
            <div *ngIf="isCartDropdownOpen" class="flex flex-col absolute right-0 bg-white border shadow-md w-64 mt-2 p-4 z-50">
              <div *ngFor="let item of cart" class="flex justify-between items-center mb-2">
                  <span>{{ item.name }}</span>
                  <span> {{ item.quantity }} x Gs. {{ item.price| number:'1.0-0' }}</span>
                <button (click)="removeFromCart(item)" class="text-red-500">
                  <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
              <div>
              </div>
              <div class="flex justify-between font-semibold">
                Total: Gs. {{ getTotal()| number:'1.0-0' }}
                <a *ngIf="cart.length > 0" [href]="generateWhatsAppLink()" target="_blank">
                  <button class="bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded text-xl inline-flex items-center space-x-2">Pedir</button>
                  </a>
              </div>
            </div>
          </div>
          <span></span>
      </div>
    </nav>


    <!-- Horizontal Navigation -->
    <div class="container mx-auto text-right py-2 ">
      <ul class="inline-flex space-x-6">
        <li class=""><a href="#" class="text-xl text-gray-600 hover:text-gray-900 text-left"><span
              class="relative group">Pinturas Látex & Impermeables<span
                class="absolute bottom-0 left-0 right-0 h-[2px] bg-blue-600 origin-bottom-right scale-x-0 transition-transform duration-500 ease-in-out group-hover:origin-bottom-left group-hover:scale-x-100"></span></span></a>
        </li>
        <li><a href="#" class="text-xl text-gray-600 hover:text-gray-900"><span class="relative group">Madera &
              Metal<span
                class="absolute bottom-0 left-0 right-0 h-[2px] bg-blue-600 origin-bottom-right scale-x-0 transition-transform duration-500 ease-in-out group-hover:origin-bottom-left group-hover:scale-x-100"></span></span></a>
        </li>
        <li><a href="#" class="text-xl text-gray-600 hover:text-gray-900"><span class="relative group">Piscinas &
              Pisos<span
                class="absolute bottom-0 left-0 right-0 h-[2px] bg-blue-600 origin-bottom-right scale-x-0 transition-transform duration-500 ease-in-out group-hover:origin-bottom-left group-hover:scale-x-100"></span></span></a>
        </li>
        <li><a href="#" class="text-xl text-gray-600 hover:text-gray-900"><span class="relative group">Pinturas
              Epoxicas<span
                class="absolute bottom-0 left-0 right-0 h-[2px] bg-blue-600 origin-bottom-right scale-x-0 transition-transform duration-500 ease-in-out group-hover:origin-bottom-left group-hover:scale-x-100"></span></span></a>
        </li>
        <li><a href="#" class="text-xl text-gray-600 hover:text-gray-900"><span class="relative group">Complementos &
              Texturas<span
                class="absolute bottom-0 left-0 right-0 h-[2px] bg-blue-600 origin-bottom-right scale-x-0 transition-transform duration-500 ease-in-out group-hover:origin-bottom-left group-hover:scale-x-100"></span></span></a>
        </li>
        <li><a href="#" class="text-xl text-gray-600 hover:text-gray-900"><span class="relative group">Accesorios de
              Ferreteria<span
                class="absolute bottom-0 left-0 right-0 h-[2px] bg-blue-600 origin-bottom-right scale-x-0 transition-transform duration-500 ease-in-out group-hover:origin-bottom-left group-hover:scale-x-100"></span></span></a>
        </li>
      </ul>
    </div>
  </header>

 <!-- Producto -->
  <section class="body-font overflow-hidden">
      <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
          <!-- Imagen -->
          <img *ngIf="productImage" [src]="productImage" alt={{selectedColor}} class="lg:w-1/2 w-full lg:h-auto object-cover object-center rounded">
          <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
            <!-- Titulo -->
            <h1 class="text-gray-900 text-3xl title-font font-bold mb-1">{{productName}}</h1>
            <div class="flex mb-4">
              <span class="text-xs font-light">Art.: {{productID}}</span>
            </div>
            <!-- Descripcion -->
            <p class="leading-relaxed">Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia microdosing tilde DIY. XOXO fam indxgo juiceramps cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean shorts keytar banjo tattooed umami cardigan.</p>
            <div class="flex mt-6 pb-5 border-b-2 border-gray--100 mb-5">
              <!-- Color -->
              <div class="flex flex-col flex-grow">
                <span class="mr-3 font-medium text-xl text-gray-500">Color</span>
                <div class="flex mt-1 gap-0.5">
                <button *ngFor="let option of colorOption" title={{option.color}} class="border-2 border-gray-300 rounded-full w-8 h-8 focus:ring-2 {{option.bgColor}}" 
                (click)="onColorChange(option.color)"
                [ngClass]="{ 'ring-1  ring-gray-500' : selectedColor === option.color } ">
              </button>
                </div>
              </div>
              <!-- Tamaño -->
              <div class="items-center">
                <span class="mr-3 font-medium text-xl text-gray-500">Tamaño</span>
                <div class="relative">
                  <select class="rounded-md appearance-none border-2 border-gray--300 py-1 focus:outline-none focus:ring-2 focus:ring-blue-200 focus:border-blue-500 text-base pl-3 pr-6" [(ngModel)]="selectedSize" (change)="onSelectedSize(selectedSize)">
                    <option *ngFor="let option of productDescription"  value="{{option.size}}">{{option.size}} </option>
                  </select>
                  <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
            <!-- Precio -->
            <div class="flex">
             <span *ngIf="productPrice" class="font-bold text-2xl">Gs. {{productPrice| number:'1.0-0'}}</span> 
              <!-- Boton Whatsapp -->
              <button class="flex items-center ml-auto text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-700 rounded" (click)="addToCart(productID)">Agregar al carrito
              </button>
            </div>
            <!-- Cantidad -->
            <div class="flex items-center py-3">
              <label class="font-medium text-xl mr-1" for="quantity">Cantidad: </label>
              <input class ="border-2 border-gray--300 focus:outline-none focus:ring-2 focus:ring-blue-200 focus:border-blue-500 rounded h-6 w-8"id="quantity" type="number" [(ngModel)]="quantity" min="1" value="1">
            </div>
          </div>
        </div>
      </div>
    </section>